@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
body{
    font-family: "Inter", sans-serif;
}
*{
    margin: 0;
}
.header{
    width: 1435px;
height: auto;
    background: linear-gradient(0.00deg, rgb(12, 11, 11),rgba(15, 14, 14, 0) 100%);
    background-color: rgb(32, 30, 30);
    padding: 0.8rem;
}

.containar{
    width: 90%;
    margin: 5rem auto;
    border-radius: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    

}

.nav-heading{
    font-size: 2.25rem;
font-weight: 800;
color: rgb(230, 83, 60);
width: 8.25rem;

}

.nav-option{
    display: flex;
    justify-content: space-evenly;
    gap: 3rem;
    color: antiquewhite;
}
.containar p{
    font-size: 18px;
font-weight: normal;
line-height: normal;
cursor: pointer;
}
/* banner */
.banner-section{
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 5rem auto;
    align-items: center;

}
.banner-text h1{
    color: rgb(255, 255, 255);
font-family: Inter;
font-size: 78px;
font-weight: 900;
text-align: left;

}
.banner-text p{
    color: white;
font-family: Inter;
font-size: 16px;
font-weight: 400;
text-align: left;

}
.banner-image{
    width: 349px;
height: 500px;
}
/* habit section add */
.habit-des{
    width: 91.25rem;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.habits{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 0px;
    background:black;
    width: 91.25rem;
    height: auto;
    padding-top: 141px;
}
.habits h1{
    color: rgb(255, 255, 255);
font-family: Inter;
font-size: 48px;
font-weight: 900;
}
.habits p{
    color: rgba(255, 255, 255, 0.5);
font-family: Inter;
font-size: 14px;
font-weight: 400;
}
.habits-items{
    width: 1044px;
height: 400px;
display: grid;
grid-template-columns: 1fr 1fr 1fr 1fr;
gap: 40px;

}
.habits-item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.habits-item img{
    width: 250px;
height: 160px;
/* left: -11.5px; */
border-radius: 50%;


}
.habits-item h6{
    color: rgb(255, 255, 255);
font-family: Inter;
font-size: 18px;
font-weight: 600;

}
.habits-item p{
    color: rgba(255, 255, 255, 0.5);
font-family: Inter;
font-size: 14px;
font-weight: 400;

}
/* run section start */
.run-sec{
    width: 91.25rem;
    height: auto;
    background-color: black;

}
.run{
    width: 66.25rem;
height: auto;
    /* display: flex;
    justify-content: space-evenly;
    align-items: center; */
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0px auto;
    border-radius: 18px;
background: rgb(34, 34, 34);

}

.run-text h1{
    color: rgb(255, 255, 255);
font-family: Inter;
font-size: 48px;
font-weight: 900;

}
.run-text p{
    color: rgba(255, 255, 255, 0.5);
font-family: Inter;
font-size: 14px;
font-weight: 400;

}
.run-text button{
    width: 224px;
height: 54px;
border-radius: 42px;
background: rgb(230, 83, 60);
color: rgb(255, 255, 255);
font-family: Inter;
font-size: 18px;
font-weight: 600;
margin-top:20px;

}
.run-image img{
    width: 366px;
height: 312px;
}
/* BMI section start */
.bmi-calculation{
    width: 1460px;
    height: 120px;
    background-color: black;
     display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bmi-calculation h3{
    color: rgb(255, 255, 255);
font-family: Inter;
font-size: 48px;
font-weight: 900;


}
.bmi-calculation p{
    color: rgba(255, 255, 255, 0.5);
font-family: Inter;
font-size: 14px;
font-weight: 400;

}

.BMI{
    width: 1460px;
    height: 487px;
    background: rgb(34, 34, 34);
display: flex;
justify-content: space-evenly;
align-items: center;
}
th,td{
    border: 1px solid rgba(255, 255, 255, 0.1);

}
table{
    border-collapse: collapse;
    width: 216px;
}
.BMI-colum h2{
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 28px;
    font-weight: 900; 
    margin-bottom: 40px;
}
.BMI-colum p{
    color: rgba(255, 255, 255, 0.5);
font-family: Inter;
font-size: 14px;
font-weight: 400;
margin: ;
}
td{
    color: rgba(255, 255, 255, 0.5);
font-family: Inter;
font-size: 14px;
font-weight: 400;
padding: 10px;

}
th{
    color: rgb(255, 255, 255);
font-family: Inter;
font-size: 16px;
font-weight: 500;
}
/* BMI end */

/* meet your team section start */

.meet-your-team{
    width: 1460px;
height: auto;
background-color: black;

}
.meet-your-team{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.meet-heading{
    color: rgb(255, 255, 255);
font-family: Inter;
font-size: 48px;
font-weight: 900;

}
.meet-des{
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
}
.row-1{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 20px;
    gap: 20px;
}
.trainer-member{
    width: 1060px;
height: 604px;
border-radius: 18px;
background: rgba(255, 255, 255, 0.1);
margin: 58px;
}
.trainer img{
    width: 100%;
height: 272px;
filter: brightness(70%);
}
.trainer{
    position: relative;
}
.name{
    position: absolute;
    bottom: 10%;
    color: white;
}
.name p{
    color: rgb(124, 121, 121);
    font-size: 14px;
font-weight: 400;
}

/* footer start */
.foot{

    width: 1460px;
    height: 490px;
    background-color:rgb(44, 42, 42);
    padding-top: 40px;
}
.footer{
    
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
}
.footer-colum li{
    list-style: none;
    color: rgb(155, 154, 154);
font-family: Inter;
font-size: 23px;
font-weight: 400;
line-height: 60px;


}
.footer-colum h2{
    color: rgb(255, 255, 255);
font-family: Inter;
font-size: 32px;
font-weight: 700;
margin-bottom: 30px;

}
.footer-des{
    color: rgba(255, 255, 255, 0.5);
font-family: Inter;
font-size: 18px;
font-weight: 400;
margin-top: 20px;
line-height: 30px;
}
.footer-heading{
    font-family: Inter;
font-size: 70px;
font-weight: 800;
}
hr{
    margin-top: 40px;
    width: 1059.5px;
    border: 2px solid rgba(255, 255, 255, 0.1);
}
.last{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.reserved{
    color: rgba(255, 255, 255, 0.5);
font-family: Inter;
font-size: 20px;
font-weight: 400;
margin-top: 30px;

}
.ham-burger{
    display: none;
}
.hide{
    display: none;
}


/* responsive */
@media screen and (max-width:576px) {
    *{
        margin: 0;
        padding: 0;
    }
    .nav-option{
        display: none;
    }
    .ham-burger{
        display: block;
        color: white;
    }
    .banner-section{
        flex-direction: column;
    }
    .containar{
        display: flex;
        justify-content: space-between;
    }
    .header{
        width: 93%;
        margin: 0;
    }
    .banner-image{
        width: 100%;
    }
    .habits{
        display: flex;
        flex-direction: column;
    }
    .habits-items{
        flex-direction: column;
    }
    .run{
        grid-template-columns: 1fr;
        width: 90%;
    }
    .run-sec{
        width: 100%;
    }

    .habit-des{
        width:100%;
    }
    .habits-items{
        grid-template-columns: 1fr;
        width: 100%;
        height: 100%;
    }
    .habits{
        width: 100%;
    }
    .bmi-calculation{
        width: 100%;
    }
    .BMI{
        flex-direction: column;
        width: 100%;
        margin: 0 auto;
    }
    .meet-your-team{
        width: 100%;
        
    }
    .row-1{
        grid-template-columns: 1fr;
    }
    .trainer img{
        width: 100%;
        height: 100%;
    }
    .trainer-member{
        width: 100%;
        height: 100%;
    }
    .footer{
        flex-direction: column;
    }
    .foot{
        width: 100%;
        height: 100%;

    }
    .footer-des{
        font-size: 60%;

    }
     .last{
        height: 100%;
        width: 100%;
     }
     hr{
        width: 350PX;
     }
}